@use "../utils/variables"as *;

.cards {
    max-width: 950px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px auto 135px auto;

    @media (min-width: $lg) {
        flex-direction: row;
        margin: 60px auto 238px auto;
    }

    .card {
        text-align: center;
        border-radius: 10px;
        border: none;
        padding: 42px 0 25px 0;
        box-shadow: 0 10px 20px rgb(73 93 207 / 20%);
        margin: 0 10px;

        @media(min-width: $lg) {
            padding-top: 40px;
        }

        img {
            margin: 0 auto 10px auto;
        }

        h4 {
            margin: 30px 0 12px 0;
        }

        span {
            color: $grayishBlue;
            font-size: 14px;
        }

        .dots {
            padding: 40px 0 16px 0;
        }

        &:last-child {
            transform: none;
            margin-top: 50px;

            @media (min-width: 900px) {
                margin-top: 0;
            }

            @media (min-width: $lg) {
                transform: translateY(80px);
            }
        }

        .btn-card {
            padding-left: 32px;
            padding-right: 32px;
        }
        
        &:nth-child(2) {
            transform: none;
            margin-top: 48px;

            @media (min-width: 600px) {
                margin-top: 0;
            }

            @media (min-width: $lg) {
                transform: translateY(40px);
            }
        }
    }

    
}
