@use "../utils/variables"as *;

.contact {
    background-color: $softBlue;
    padding: 70px 20px 50px;

    @media (min-width: $md) {
        padding: 70px;
    }

    .contact-text {
        max-width: 440px;
        margin-bottom: 35px;
        
        span {
            letter-spacing: 4px;
            text-transform: uppercase;
            font-size: 13px;

            @media(min-width: $lg) {
                letter-spacing: 5px;
            }
        }

        span, 
        h2 {
            color: white;
            
        }

        h2 {
            margin-top: 10px;
            margin-bottom: 30px;
            line-height: 28px;

            @media(min-width: $lg) {
                margin-top: 40px;
                line-height: 38px;
            }
        }
    }
    
    .contact-form {
        display: flex;
        max-width: 310px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;

        @media (min-width: $md) {
            flex-direction: row;
            justify-content: space-between;
            max-width: 450px;
        }

        .form-input {
            position: relative;
            padding: 3px;
            margin-bottom: 10px;

            @media (min-width: $md) {
                width: 310px;
                margin-bottom: 0;
            }

            .error-icon {
                position: absolute;
                right: 20px;
                top: 20px;
                visibility: hidden;
                z-index: 10;

                &.show {
                    visibility: visible;
                }
            }

            .error {
                border-radius: 5px; 
                background-color: $softRed;
                color: white;
                padding: 60px 10px 10px 10px;
                width: 104%;
                display: none;
                transform: translateX(-2%);
                margin-top: -55px;

                &.show {
                    display: inline-block;
                }
            }
        }

        .form-button {
            padding-top: 3px;
            margin: 0 3px 3px;
            
            button {
                width: 100%;
            }
        }
    }  
}
