@use "../utils/variables"as *;

.features {
    margin-bottom: 70px;

    @media(min-width: $lg) {
        margin-bottom: 250px;
    }

    &::before {
        border-bottom-right-radius: 200px;
        border-top-right-radius: 200px;
        right: 20%;
        //height: 200px;
        height: 23%;
        top: 470px;

        @media(min-width: 385px) {
            //height: 230px; 
        }

        @media(min-width: 420px) {
            //height: 260px; 
            height: 25%;
        }

        @media(min-width: 500px) {
            //height: 290px; 
            height: 30%;
        }

        @media(min-width: $sm) {
            //height: 290px; 
            height: 35%;
        }     

        @media(min-width: 895px) {
            //height: 290px; 
            right: 25%;
        } 

        @media(min-width: $lg) {
            //height: 290px; 
            height: 40%;
            top: 420px;
            right: 55%;
        } 

        @media(min-width: $xl) {
            //height: 290px; 
            height: 53%;
            right: 55%;
        }
    }

    .features-links {
        margin: 40px auto 70px auto ;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 730px;

        @media(min-width: $lg) {
            margin: 60px auto 70px;
        }
    
        .features-link {
            padding: 20px;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid $lightGrey;
            position: relative;

            @media(min-width: $lg) {
                padding-bottom: 30px;
            }

            &:first-child {
                border-top: 2px solid $lightGrey;

                @media(min-width: $lg) {
                    border-top: none;
                }
            }

            &.active {
                color: $veryDarkBlue;
            }

            &:before {
                content: "";
                position: absolute;
                background-color: $softRed;
                height: 3px;
                width: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                overflow: hidden;
                transition: .5s;
                
            }

            &.active::before {
                width: 135px;

                @media (min-width: $lg) {
                    width: 100%;
                }
            }
        }

        @media (min-width: $lg) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    .features-content {
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    
        &.active {
            display: flex;
            justify-content: space-between;
        }
        
    
        @media (min-width: $lg) {
            flex-direction: row;
            text-align: left;
            margin-top: 10px;
        }

        .features-content-image {
            flex: 0 1 50%;
        }
    
        
    
        .features-content-text {
            padding-top: 70px;
            flex: 0 1 50%;

            @media (min-width: $lg) {
                padding-left: 80px;
                padding-top: 0;
            }

            h2 {
                margin-top: 5px;
                margin-bottom: 0;

                @media(min-width: $lg) {
                    margin-bottom: 20px;
                }
            }

            .features-button {
                margin-top: 20px;
            }
        }
    }
}
