@use "../utils/variables"as *;

.questions {
    margin-bottom: 123px;

    @media (min-width: $lg) {
        margin-bottom: 148px;
    }

    .accordion {
        max-width: 540px;
        margin: 48px auto;

        @media(min-width: $lg) {
            margin: 60px auto 55px;
        }
        
    
        .item {
            border: 0;
            border-bottom: solid 1px rgba(0, 0, 0, 0.1);
            max-width: 540px;
            

            &:first-child {
                border-top: solid 1px rgba(0, 0, 0, 0.1);
            }
    
    
            .item-header {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;          

                h5 {
                    margin-bottom: 20px;

                    @media (min-width: $md) {
                        padding-right: 50px;
                        margin-bottom: 15px;
                    }
                }

                svg {
                    cursor: pointer;
                    margin-top: 10px;

                    @media(min-width: $lg) {
                        margin-right: 20px;
                    }

                    path {
                        transform: rotate(0);
                        transform-origin: center;
                        transition: transform 0.5s ease;

                        &.active {
                            stroke: $softRed;
                            transform: rotate(180deg);
                        }
                        &:hover {
                            stroke: $softRed;
                            
                        }
                    }   
                }
            }
    
            .item-answer {
                display: none;
                text-overflow: ellipsis;
                transition: all .3s ease;

                &.collapsing {
                    display: block;
                    max-height: 0; 
                    overflow: hidden;
                    transition: all 1s ease;

                    &.show {
                        max-height: 100vh;
                    }
                }

                
            }
        }
    }

    .questions-button {
        button {
            padding: 15px 20px;
        }
    }
}
