@use "../utils/variables"as *;

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        padding: 0 20px;

        @media (min-width: $lg) {
            padding: 0 0 0 40px;
        }
        
    }

    path:hover {
        fill: $softRed;
    }
}
