//COLOURS
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$lightGrey: #e3e4e8;

//FONTS

//BREAKPOINTS
// Mobile
$sm: 640px;
$md: 768px;

// Tablet
$lg: 992px;

// Laptop / computer
$xl: 1200px;
$xxl: 1440px;
$hd: 1800px;
$uw: 2200px;