// typography rules and typography helper classes
@use "../utils/variables" as *;

body {
    font-size: 14px;
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 500;
        color: $veryDarkBlue;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
        
        
        @media (min-width: $md) {
            font-size: 46px;
            line-height: 52px;
            letter-spacing: 1.2px;    
        }
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
        
        @media(min-width: $md) {
            font-size: 30px;
            line-height: 39px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
    }

    h3 {
        font-size: 22px;
        line-height: 16px;

        @media(min-width: $md) {
            font-size: 26px;
            line-height: 24px;
        }
    }

    h4 {
        font-size: 20px;
        line-height: 23px;
    }

    h5 {
        font-size: 15px;
        font-weight: 400;

        @media (min-width: $md) {
            font-size: 18px;
        }

    }


    p {
        color: $grayishBlue;
        line-height: 24px;
        font-size: 15px;

        @media(min-width: $sm) {
            font-size: 16px;
        }

        @media (min-width: $md) {
            font-size: 18px;
            line-height: 26px;
        }
    }


    a {
        cursor: pointer;
        text-decoration: none;
        color: $veryDarkBlue;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 13px;

        &:hover {
            color: $softRed;
        }
    }

    ul {
        font-size: 16px;
    }

}
